RewriteEngine On
RewriteBase /dashboard/profile/

# Redirect requests for /dashboard/profile/username to /dashboard/profile?username=username
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?username=$1 [QSA,L]
